.heroes .list-group-item {
    padding: 3px 10px;
    cursor: pointer;
}

.heroes li:hover:not(.active) {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.heroes .idBadge {
    display: inline-block;
    font-size: small;
    color: white;
    background-color: #607D8B;
    padding: 0.8em 0.7em 0.6em 0.7em;
    margin-right: .8em;
    border-radius: 4px;
    width: 3em;
    text-align: center;
}

.heroes li.active .idBadge {
    background-color: darkblue;
}

.list-group-item .delete {
    float: right;
    font-size: small;
    padding: 0.8em 0.7em 0.8em 0.7em;
    border-radius: 4px;
}